//Colors
$color-text: #333;
$color-link: #744cbc;
$color-white: #fff;
$color-navbar-bg: #fff;
$color-navbar-border: #d6d6d6;
$color-form-border: #ccc;
$color-form-placeholder: #898989;
$color-create-link: #777;
$color-danger: #f00;