@import "_bootstrap_variables";
@import url("https://fonts.googleapis.com/css?family=Roboto");

$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';
@function font-path($path) {
  @return $path;
}

@import "../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap-sprockets";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap";
@import "_vars";
@import "_responsive";

*:focus {
  outline: none !important;
}

em {
  display: inline-block;
  margin: 0 0 10px;
}

a {
  color: $color-link;
  text-decoration: underline;
}

a:hover {
  color: $color-text;
  text-decoration: none;
}

.btn:active {
  box-shadow: none;
}

.form-control {
  border-radius: 3px;
  box-shadow: none;
}

.danger {
  color: $color-danger;
}

.close {
  font-size: 18px;
  line-height: 0.6;
}

input::placeholder, textarea::placeholder {
  color: $color-form-placeholder !important;
}

.form-control:focus {
  box-shadow: none;
  border-color: $color-form-border;
}

body {
  font-family: 'Roboto', sans-serif;
  padding-top: 65px;

  .navbar {
    height: 65px;
    background-color: $color-navbar-bg;
    box-shadow: 0 1px 1px 0 rgba(116, 129, 141, 0.1);
    border-bottom: solid 1px $color-navbar-border;

    .navbar-header {
      width: 100%;
      text-align: right;
      height: 65px;
      overflow: hidden;

      a.navbar-brand {
        color: $color-link;
        display: inline-block;
        font-size: 25px;
        line-height: 65px;
        padding-top: 0;
        padding-bottom: 0;
        text-decoration: none;
      }

      a.navbar-brand:hover {
        color: $color-text;
      }

      form {
        width: 200px;
        display: inline-block;
        line-height: 65px;

        input, button {
          display: inline-block;
        }

        input {
          padding-right: 33px;
        }

        .search-button {
          position: relative;
          top: -64px;
          border: 0;
          background-color: transparent;
          color: $color-create-link;

          span {
            transform:rotate(0.1deg);
          }
        }
      }

      a.add-drop-link {
        text-decoration: none;
        font-size: 15px;
        color: $color-link;
        position: relative;
        top: -63px;
        right: 15px;


        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  .droplist {
    width: 50%;
    list-style: none inside none;
    padding: 0;

    li {
      .public-id {
        font-size: 30px;
        margin-right: 8px;
        text-decoration: none;
      }

      .public-id:hover {
        //text-decoration: underline;
        color: $color-text;
      }

      .hint {
        height: 19px;
        opacity: 0;
        font-size: 18px;
        position: relative;
        top: -4px;
      }

      .text {
        position: relative;
        max-width: 100%;
        max-height: 60px;
        word-break: break-all;
        overflow: hidden;
        color: $color-form-border;
        font-style: italic;

        &:before {
          content: "";
          display: block;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          position: absolute;
          background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 255));
        }
      }
    }
  }

  .droplist li:hover .hint {
    opacity: 1;
  }

  .jumbotron {
    text-align: center;

    h1 {
      color: $color-link;
    }
  }

  .create, .drop {
    padding-top: 15px;
  }

  .form-control {
    margin-bottom: 15px;
  }

  textarea {
    min-height: 200px;
    min-width: 100%;
    max-width: 100%;
  }

  .message-text {
    text-align: left;
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  .password-strength {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 15px;
    border-radius: 3px;
    border-color: $color-form-border;

    input {
      font-size: 14px;
      color: #555555;
      padding: 7px 12px 5px 12px;
      width: calc(70% - 28px);
    }

    .ReactPasswordStrength-strength-desc {
      padding: 7px 12px;
      font-size: 16px;
      width: 30%;
    }
  }

  .loading {
    display: block;
    margin: 45px auto;
    width: 150px;
    padding-left: 45px;
    font-size: 20px;
    background: url('../imgs/loader.svg') no-repeat left center;
  }

  .character-counter {
    position: relative;
    top: -12px;
  }

  footer {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;

    img {
      width: 30px;
    }

    img:hover {
      opacity: 0.9;
    }
  }
}